<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>9749616161-9gh5fir4468v6ehkdahc3njr4ceqekgh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.9749616161-9gh5fir4468v6ehkdahc3njr4ceqekgh</string>
	<key>API_KEY</key>
	<string>AIzaSyDNUcp6hg2TRcPWT-DgCnon3QxaTKEbXno</string>
	<key>GCM_SENDER_ID</key>
	<string>9749616161</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.lockerag.meridaRentalsProvider</string>
	<key>PROJECT_ID</key>
	<string>meridarentals-1565365709412</string>
	<key>STORAGE_BUCKET</key>
	<string>meridarentals-1565365709412.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:9749616161:ios:e7dc3b6b6c7c0fd4fcf560</string>
	<key>DATABASE_URL</key>
	<string>https://meridarentals-1565365709412.firebaseio.com</string>
</dict>
</plist>